target/
!.mvn/wrapper/maven-wrapper.jar

### public folder is from external SPA ###
src/main/resources/public

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Eclipse ###
.settings
.classpath
.project